{% extends "base.html" %}

{% block content %}
<h1>Все доступные книги</h1>
<div class="card-deck">
    {% for item in books%}
    <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="{{item.cover}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Автор: {{item.author}}</h6>
            <h6 class="card-subtitle mb-2 text-muted">Жанр: {{item.genre.name}}</h6>
            {% if current_user.is_authenticated %}
                <a href="{{item.file}}" download="" class="btn btn-primary">Скачать книгу</a>
            {% else %}
                <button type="button" class="btn btn-lg btn-outline-danger" disabled>
                    Войдите на сайт, чтобы скачать книгу
                </button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}